<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alerts</title>
</head>
<body>
<input type="number" class="m-2 p-2 form-control" placeholder="Enter alert value" [(ngModel)]="alertStatusValue">
<button class="btn btn-primary" [disabled]="!isAlertCheckAllowed" >Get Alert Message</button>
<p>Alert value entered as: {{alertStatusValue}}</p>

<app-success-alert *ngIf="alertStatusValue>=10"></app-success-alert>
<app-warning-alert *ngIf="alertStatusValue<10"></app-warning-alert>
</body>
</html>
