<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <input type="text" class="form-control" #name>
    <label>Server Content</label>
    <input type="text" class="form-control" #serverContent>
    <br>
    <button class="btn btn-primary"
            (click)="onAddServer(name)">Add Server
    </button>
    <button class="btn btn-primary"
            (click)="onAddBlueprint(name)">Add Server Blueprint
    </button>
  </div>
</div>
